* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* top navigation:
/* Add background colour to the top navigation */
.topnav {
    position: absolute;
    background-color: #fefbfb;
    overflow: hidden;
    top: 0;
    left: 0;
}

/* Style the links inside the navigation bar */
.topnav a { 
    float: left;
    color: #1e1e1e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Underline links on hover */
.topnav a:hover {
    text-decoration: underline;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 96px;
}

.hello, .me {
    margin: 0;
}

.hello {
    color: #1E1E1E;
}

.me {
    color: rgb(208,128,209,15%);
    -webkit-text-stroke: 4px #1E1E1E;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

.container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.one {
    background: #F9F6EE;
}
.two {
    background: salmon;
}
.three {
    background: blanchedalmond;
}
.four {
    background: pink;
}